


    <tr>
    <th scope="row"></th>
      <td><%= alert.cryptocurrency %></td>
      <td><%= alert.target_price %></td>
      <td><%= alert.status %></td>
      <td> <%= link_to "Show this alert", alert %></td>
    </tr>
  